<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="1.9.71" targetFramework="net451" />
  <package id="ExcelDataReader" version="3.4.0" targetFramework="net451" />
  <package id="ExcelDataReader.DataSet" version="3.4.0" targetFramework="net451" />
  <package id="FCTB" version="2.16.21.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net451" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net451" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net451" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net451" />
</packages>